@import url('https://fonts.googleapis.com/css2?family=Libre+Bodoni&display=swap');

.nav {
    background: black;
    color: white;
    height: 10vh;
    display: flex;
    align-items: center;
    font-family: 'Libre Bodoni', serif;
}

h1 {
    text-align: center;
    margin: 0px 40px;
}