@import url('https://fonts.googleapis.com/css2?family=Libre+Bodoni&display=swap');

.nav {
    background: black;
    color: white;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Libre Bodoni', serif;
}

h1 {
    margin: 0px 40px 0px 40px;
}

h2 {
    margin: 0px 40px;
}

a {
    text-decoration: none;
}